<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelperInOlympics"
        tools:targetApi="31">
        <activity
            android:name=".AlterarDadosActivity"
            android:exported="false" />
        <activity
            android:name=".HistoricoDeAcessos"
            android:exported="false" />
        <activity
            android:name=".telas_de_acesso.AcessoQuestionarioActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- main/splash screen -->
        <!-- Main activity -->
        <activity
            android:name=".telas_iniciais.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Outras activities -->
        <activity android:name=".menu.PerfilAlunoActivity" />
        <activity android:name=".telas_iniciais.InicioOlimpiadaActivity" android:exported="false" android:theme="@style/Theme.HelperInOlympics.NoActionBar"/>
        <activity android:name=".menu.ChatsAlunoActivity" />
        <activity android:name=".menu.FavoritosAlunoActivity" />
        <activity android:name=".menu.ConfiguracoesActivity" android:exported="false" android:theme="@style/Theme.HelperInOlympics.NoActionBar"/>
        <activity android:name=".menu.ManualActivity" />
        <activity android:name=".menu.SairActivity" />
        <activity android:name=".materiais.VideoActivity" android:exported="false" android:theme="@style/Theme.HelperInOlympics.NoActionBar"/>
        <activity android:name=".materiais.TextoActivity" android:exported="false" android:theme="@style/Theme.HelperInOlympics.NoActionBar"/>

        <activity
            android:name=".telas_iniciais.InicialAlunoMenuDeslizanteActivity"
            android:exported="false" android:theme="@style/Theme.HelperInOlympics.NoActionBar" />

        <activity android:name=".AcertosSemanaisActivity" />
        <activity android:name=".ErrosSemanaisActivity" />
        <activity android:name=".RankingActivity" />
        <activity android:name=".modelos_sobrepostos.RecadoProfWebActivity" />
        <activity
            android:name=".QuestionarioCorrecaoActivity"
            android:exported="false" />
        <activity
            android:name=".cadastros.CadastroAlunoProfessorActivity"
            android:exported="false"
            android:theme="@style/Theme.HelperInOlympics.NoActionBar" />
        <activity
            android:name=".telas_de_acesso.AcessoTextoActivity"
            android:exported="false" />
        <activity
            android:name=".telas_iniciais.TelaEscolhaOlimpiadaActivity"
            android:exported="false"
            android:theme="@style/Theme.HelperInOlympics.NoActionBar"/>
        <activity
            android:name=".cadastros.CadastroActivity"
            android:exported="false"
            android:theme="@style/Theme.HelperInOlympics.NoActionBar" />
        <activity
            android:name=".telas_iniciais.TelaBemVindoActivity"
            android:exported="false"
            android:theme="@style/Theme.HelperInOlympics.NoActionBar"/>
        <activity
            android:name=".telas_iniciais.TelaLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.HelperInOlympics.NoActionBar"/>

        <activity
            android:name=".materiais.FlashcardActivity"
            android:exported="false"
            android:theme="@style/Theme.HelperInOlympics.NoActionBar"/>

        <activity
            android:name=".materiais.QuestionarioActivity"
            android:exported="false"
            android:theme="@style/Theme.HelperInOlympics.NoActionBar"/>
    </application>

</manifest>