<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelperInOlympics"
        tools:targetApi="31">
        <activity
            android:name=".CadastroAlunoProfessorActivity"
            android:exported="false" />
        <activity
            android:name=".TelaTextoIlimpiadaAcesso"
            android:exported="false" />
        <activity
            android:name=".TelaEscolhaOlimpiada"
            android:exported="false" />
        <activity
            android:name=".TelaCadastroActivity"
            android:exported="false" />
        <activity
            android:name=".TelaBemVindoActivity"
            android:exported="false" />
        <activity
            android:name=".TelaLoginActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- main/splash screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaInicialAlunoActivity" />
        <activity android:name=".PerfilAlunoActivity" />
        <activity android:name=".InicioOlimpiadaActivity" />
        <activity android:name=".ChatsAlunoActivity" />
        <activity android:name=".FavoritosAlunoActivity" />
        <activity android:name=".ConfiguracoesActivity" />
        <activity android:name=".ManualActivity" />
        <activity android:name=".SairActivity" />
        <activity
            android:name=".MenuDeslizanteAlunoActivity"
            android:exported="false"
            android:label="@string/title_activity_menu_deslizante"
            android:theme="@style/Theme.HelperInOlympics.NoActionBar" />
    </application>

</manifest>